body {
    font-family: "Fira Sans", serif;
    font-style: normal;
    background-color: #f4f4f4;
    margin: 0 auto;
    justify-self: center;
    max-width: 1440px;
    max-height: 3092px;
}

header {
    width: 80%;
    height: 5%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    
}
.logo, .top-navbar{
    display: flex;
}
.ham{
    display: none;
}
.ul-nav{
    display: flex;  
    list-style: none;
    padding: 0%;
    gap: 1.5em; 
    
}
.li-nav a {
    text-decoration: none;
}

.li-nav a {
    text-decoration: none;
}
.btn-1{
    width: 8em;
    height: 2.25em;
    padding: 10px 10px 10px 10px;
    border-radius: 0.5em;
    font-size: 1.25em;
    font-weight: 400;
    background-color: orange;
    color: #f4f4f4;
    border-style: none;
}
.banner{
    display: flex;
    width: 80%;
    height: 35%;
    justify-self: center;
    align-items: center;
    gap: 2em;
}


.ban-header{
    font-size: 3.5em;
    font-weight: bold;
    line-height: 1.25em;
}
.btn-2{
    width: 8em;
    height: 2.25em;
    padding: 10px 10px 10px 10px;
    border-radius: 0.5em;
    font-size: 1em;
    font-weight: 400;
    background-color: black;
    color: #f4f4f4;
    border-style: none;
}
.curriculum{
    justify-items: center;
    margin-top: 5%;
}
.cur-png{
    height: 2.5em;
    width: 2.5em;
    background-color: orange;
    border-radius: 100%;
    padding: 1em;
}
.cards{
    display:flex;
    height: 50%;
    width: 80%;
    margin-top: 5%;
    margin-bottom: 5%;
    gap: 2em;

}
.card-1{
    width: 90%;
    height: 20em;
    padding: 20px 20px 20px 20px;
    background-color: lightblue;
    border-radius: 0.5em;
    justify-items: center;
    place-content: center;
    border: 1px solid rgb(46, 177, 220);
}
.card-2{
    width: 90%;
    height: 20em;
    padding: 20px 20px 20px 20px;
    background-color: lightgoldenrodyellow;
    border-radius: 0.5em;
    justify-items: center;
    place-content: center;
    border: 1px solid rgb(220, 208, 46);
}
.card-3{
    width: 90%;
    height: 20em;
    padding: 20px 20px 20px 20px;
    background-color: lightpink;
    border-radius: 0.5em;
    justify-items: center;
    place-content: center;
    border: 1px solid rgb(220, 46, 185);
}
@media screen and (max-width: 391px) {
    body{
        align-items: center;
        margin: 0 auto;
    }
    header {
        max-width: 390px;
        align-items: center;
    }

    .logo-h2, .top-navbar, .btn-1{
        display: none;
    }
    .ham{
        display: flex;
        width: 1.9em;
        height: 1.9em;
    }

    .banner{
        flex-direction: column-reverse;
        padding-top: 20px;
        padding-bottom: 20px 
    }
    .ban-png{
        width: 337px;
        height: 413px;
    }
    .banner-content{
        text-align: center;
    }
    .ban-header{
        font-size: 2em;
    }
    .cards{
        display: flex;
        flex-direction: column;
    }
    .arrow{
        display: none;
    }
}